//Tipografía
$main-font: 'poppins';

//Colores
$green: #56B280;

html {
  font-size: 62.5%;
}

header {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  height: 7.5rem;
  padding: auto 17rem;
}

